<section>
  <div class="portada-container">
    <img src="assets/img/portada.jpeg" width="100%" height="500"  alt="Portada de Mercy Developer" class="portada-container">
    <div class="portada-content text-center">
      <h1 class="portada-title">Bienvenidos a Mercy Developer</h1>
      <h4 class="portada-subtitle">Soluciones informáticas a la medida de tus necesidades</h4>
    </div>
  </div>
  
  <div class="especialidades">
    <h2>Especialidades</h2>
    <ul class="list-group">
      <li class="list-group-item">
        <a routerLink="/especialidades/instalacion-os" class="btn btn-primary">Instalación de Sistemas Operativos</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/especialidades/reparacion" class="btn btn-primary">Reparación de Computadoras</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/especialidades/swoficina" class="btn btn-primary">Instalación de Software de Oficina</a>
      </li>
    </ul>
  </div>
  

</section>
<div class="container my-5">
  <form class="form-centered">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre">
    </div>
    <div class="form-group">
      <label for="apellido">Apellido</label>
      <input type="text" class="form-control" id="apellido" placeholder="Ingresa tu apellido">
    </div>
    <div class="form-group">
      <label for="mensaje">Mensaje</label>
      <textarea class="form-control" id="mensaje" rows="3" placeholder="Escribe tu mensaje"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>
